name: Docker

on:
  workflow_dispatch: 

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    # The matrix runs two separate instances of this job simultaneously
    strategy:
      matrix:
        os: [ubuntu, debian]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          # Tags will be: ghcr.io/owner/repo:ubuntu AND ghcr.io/owner/repo:debian
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ matrix.os }}
          # Points to: Dockerfile.ubuntu OR Dockerfile.debian
          file: Dockerfile.${{ matrix.os }}
          cache-from: type=gha,scope=${{ matrix.os }}
          cache-to: type=gha,mode=max,scope=${{ matrix.os }}
          platforms: linux/amd64
